.cont{
    margin-left: 380px;
    margin-top: 150px;
    font-family: "adobe-clean", sans-serif;
   font-size: 45px;
  
   width: 700px;
}
#Lists{
    color: rgb(85, 78, 78) ;
    
    font-weight: 100;
}
#Tasks{
    
    font-weight: bolder;
}
.container{
    width: 650px;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    text-align: center;
    font-family: "adobe-clean", sans-serif;
    height: 330px;
 
}
.items{
    border: 1px solid red ;
    margin: 25px;
    box-sizing: border-box;
    
}


#box1{
float: left;
width: 40%;
color: red;
border-radius: 10px;
box-shadow: 9px 9px rgb(218, 214, 214);

}
#box2{
clear: both;
width: 40%;
color: red;   
border-radius: 10px;
box-shadow: 9px 9px rgb(218, 214, 214);
}
#box3{
clear: both;
width: 40%;
color: red;
border-radius: 10px;
box-shadow: 9px 9px rgb(218, 214, 214);
}
.normal{
float: left;
color: black;
}
#add{
color: black;
font-family: "adobe-clean", sans-serif;
font-size:25px;
margin-left: 20px;
margin-top: 12px;
}
.blur{
filter: blur(10px);
}
.page3{
width: 250px; 
height: 120px; 
position: absolute; 
top: 200px;
left: 550px;
border:1px solid red;
border-radius: 10px;
color: rgb(204, 47, 47);
text-align: center;
justify-content: center;

box-shadow: 9px 9px rgb(218, 214, 214);
}
.page2{
margin-left: 510px;
margin-top: 80px;
text-align: center;
justify-content: center;
font-family: "adobe-clean", sans-serif;
font-size: 20px;
}
.fas{
margin-top: 130px;
margin-left: 260px;
}
.box4{
width: 300px;
height: 350px;
border: 1px solid red ;
margin-right: 5px;
text-align: center;
box-sizing: border-box;
color: rgb(204, 47, 47);
border-radius: 10px;
box-shadow: 9px 9px rgb(218, 214, 214);
}
h1 {
text-align: center; 
}
.tag1{
width: 12%;
margin-top: 20px;
margin-left: 410px;
position: absolute;

  }
.tag2
{
    width: 12%;
    margin-top: 20px;
    margin-left: 780px;
    position: absolute;

}  
@media(max-width:600px){
    #add{
        display: none;
    }

    #Tasks{
        margin-left: -370px;
    }
    
.cont{
    width:140px;
    display: inline-block;
    

}
.container{
    width: 400px;
    margin-left: -420px;
    
}
.icon {
    margin-left: -200px;
}
#box1{
   
    width: 95%;
}
#box2{
    margin-left: -10px;
    width: 95%;
}
#box3{
    margin-left: -10px; 
    width: 95%;
}
.tag{
    
    width: 12%;
margin-top: 20px;
margin-left: 410px;
position: absolute;
}
.can2{
    margin-left: -870px;
}
.cont2{
    width:140px;
}
.container2{
    width: 400px;
    margin-left: -480px;
}
h1{
    margin-left: -60px;
    font-size: 30px;
}
.tag1{
    margin-left: 20px;
    width: 10%;
}
.tag2{
    margin-left: 280px;
    width: 10%;
}
.post{
    display: inline-block;
}
#add1{
    margin-left: 150px;
}
.inline{
    margin-top: 50px;
    margin-left: -470px;
}
.cont3{
    width: 140px;
}
.post2{
    margin-left: -250px;
}
.cont3{
width: 100px;
display: inline-block;
}
.page3{
    margin-left: -480px;
    margin-top: 150px;
}
.cont4{
    width: 100px;
}
.outline{
    margin-left: -500px;
    margin-top: 400px;
}

.page3{
    margin-top: 50px;
}
} 