.cont{
    margin-left: 380px;
    margin-top: 150px;
    font-family: "adobe-clean", sans-serif;
   font-size: 45px;
   
   width: 700px;
}

#Lists{
    color: rgb(85, 78, 78) ;
    
    font-weight: 100;
}
#Tasks{
    
    font-weight: bolder;
}
.container{
    width: 650px;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    text-align: center;
    font-family: "adobe-clean", sans-serif;
    height: 330px;
 
}
.items{
    border: 1px solid red ;
    margin: 25px;
    box-sizing: border-box;
    
}


#box1{
float: left;
width: 40%;
color: red;
border-radius: 10px;
box-shadow: 9px 9px rgb(218, 214, 214);

}
#box2{
clear: both;
width: 40%;
color: red;   
border-radius: 10px;
box-shadow: 9px 9px rgb(218, 214, 214);
}
#box3{
clear: both;
width: 40%;
color: red;
border-radius: 10px;
box-shadow: 9px 9px rgb(218, 214, 214);
}
.normal{
float: left;
color: black;
}
#add{
color: black;
font-family: "adobe-clean", sans-serif;
font-size:25px;
margin-left: 20px;
margin-top: 12px;
}
.blur{
filter: blur(10px);
}
.page3{
width: 250px; 
height: 120px; 
position: absolute; 
top: 300px;
left: 550px;
border:1px solid red;
border-radius: 10px;
color: rgb(204, 47, 47);
text-align: center;
justify-content: center;

box-shadow: 9px 9px rgb(218, 214, 214);
}
.page4{
    width: 250px; 
    height: 120px; 
    position: absolute; 
    top: 300px;
    left: 550px;
    border:1px solid red;
    border-radius: 10px;
    color: rgb(204, 47, 47);
    text-align: center;
    justify-content: center;
    
    box-shadow: 9px 9px rgb(218, 214, 214);
    }
.page2{
margin-left: 510px;
margin-top: 50px;
font-family: "adobe-clean", sans-serif;
font-size: 20px;
}
.fas{
margin-top: 130px;
margin-left: 260px;
}
.box4{
width: 300px;
height: 350px;
border: 1px solid red ;
margin-right: 5px;
text-align: center;
box-sizing: border-box;
color: rgb(204, 47, 47);
border-radius: 10px;
box-shadow: 9px 9px rgb(218, 214, 214);
}
h1 {
text-align: center; 
}
.tag1{
width: 12%;
margin-top: 20px;
margin-left: 410px;
position: absolute;

  }
.tag2
{
    width: 12%;
    margin-top: 20px;
    margin-left: 780px;
    position: absolute;

}

@media  (max-width:1100px) {

    .cont{
        width: 10px;
        align-items: center;
    }
    .container{
        width: 80%;
        display: inline-block;
        align-items: center;
    }
    #Tasks{
        margin-left: -350px;
        font-size:30px;
    }
    #Lists{
        font-size:30px;
    }
    .media{
        margin-left: -300px;
        margin-top: -53px;
    }
    #add{
        display: none;
    }
    #box1 hr{
        display: none;
    }
    #box2 hr{
        display: none;
    }
    #box3 hr{
        display: none;
    }
    
    
    #box1{
        width:120%;
        height:50px;
        overflow: hidden;
        
        
    }
    #box2{
        width:120%;
        height:50px;
        overflow: hidden;
     
    }
        #box3{
            width:120%;
            height:50px;
            overflow: hidden;
           
        }

        /* index1 */
        .cont2{
            width: 10px;
            align-items: center;
        }
        #add1{
            margin-left: 50px;
            margin-top: 15px;
        }
        .media3  {
            margin-top: 80px;
            margin-left: -420px;
            display: flex;
        }
        .media3 i{
            margin-left: 500px;
            margin-top: -50px;
            
        }
        .page2{
            width: 80%;
            
        }
        .box4{
            margin-left: -410px;
           
        }
        .tag1{
            display: none;
        } 
         .tag2{
          display: none;
}
.media2 h1{
    align-content: center;
    margin-left: 180px;
    white-space: nowrap;
}
.cont3{
    width: 10px; ;
}
.page3{
    margin-left: -470px;
    margin-top: -30px;
}
.cont4{
    width: 10px;
}
.page4{
    margin-left: -420px;
    margin-top: -30px;
}
}